# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
*.egg
*.egg-info/
dist/
build/
*.egg-info/
.eggs/
.eggs-info/
wheels/
*.wheel
*.manifest
*.spec

# Flask specific
instance/
.webassets-cache

# Flask cache and logs
__pycache__/
*.log

# Environments
.env
*.env

# Debugger and tool-specific files
.vscode/
*.swp
.idea/
.idea/**

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Editor-specific files
*.sublime-project
*.sublime-workspace
*.project
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
*.stackdump

# Docker
*.log
*.log.*
docker-compose.override.yml
Dockerfile.*
*.container.env
*.conf

migrations/